.about {
    margin-bottom: 300px;

    @media screen and (max-width: $break-small) {
        margin-bottom: 100px;
      }

    &__header {
        width:500px;
        display:flex;
        align-items: center;
        justify-content: space-between;
        color:$main-orange;
        font-size: $md-font;
        
        &:hover {
            cursor:pointer;
            color:$main-mutedYellow;
        }

        @media screen and (max-width: $break-large) {
            margin-bottom: 80px;
            display:block;
            width:100%;
          }

          @media screen and (max-width: $break-small) {
            margin-bottom: 20px;
          }

        &__rule {
            height:1px;
            background:$main-yellow;
            width: 300px;

            @media screen and (max-width: $break-large) {
                display:none;
              }

        }

        &>h3 {
            @media screen and (max-width: $break-large) {
                text-align: center;
              }
        }
        
    }
    &__content{
        display:flex;
        align-items: center;
        justify-content: space-between;

        &__text {
            width:500px;

            &__p {
                font-size: $sm-font;
                color:$main-mutedYellow;
    
                &>p {
                    margin-top: 20px;
                }

                @media screen and (max-width: $break-large) {
                    margin-top: 60px;
                  }

                @media screen and (max-width: $break-small) {
                    width:100%;
                    font-size: $xsm-font;
                    margin:auto;
                    margin-top: 40px;
                    text-align: center;
                }

            }   
            &__techs {
                display:flex;
                align-items: center;
                color:$main-mutedYellow;
                font-size: $sm-font;

                &>ul {
                    width:250px;
                    margin-top: 30px;
                    
                }
              
                @media screen and (max-width: $break-small) {
                    font-size: $xsm-font;
                }
            }

            @media screen and (max-width: $break-small) {
                width:100%;
            }
        }
        &__image {
            position:relative;

            &__imageBorder {
                border: 1px solid $main-orange;
                height: 360px;
                width: 360px;

                &:hover {
                    background:$main-orange;
                }

                @media screen and (max-width: $break-small) {
                    display:none;
                }
            }
            &__img {
                position:absolute;
                top:-40px;
                left:40px;
                height: 360px;
                width: 360px;
                background:$main-red;

                @media screen and (max-width: $break-small) {
                    top:0px;
                    left: 0px;
                    position:relative;
                    width:320px;
                    height:320px;
                  }
            }
        }
        
        @media screen and (max-width: $break-large) {
            display:flex;
            flex-direction: column;
          }
    }
}