.hero {
    margin-top: 100px;
    margin-bottom: 300px;
    display:flex;
    align-items: center;
    justify-content: space-between;
    &__text{
        position:relative;
        z-index: 3;
        &__accent {
            height:10px;
            width:380px;
            background:$main-red;
            position:absolute;
            top:330px;
            left:300px;
            z-index: -1;
            @media screen and (max-width:1132px) {
              top:441px;
              left:0px;
              width:400px;

            }
            @media screen and (max-width: $break-small) {
                top:130px;
                left:190px;
                width:220px;
                
              }
            @media screen and (max-width:480px) {
            top:270px;
            left:45px;
            width:240px;
            }
        }
        &__intro{
            color:$main-mutedYellow;
        }
        &__main{
            color:$main-orange;
            font-size: $xlg-font;
            width:540px;
            &:hover {
                cursor:pointer;
                color: $main-yellow;
            }
            @media screen and (max-width: $break-small) {
                width:100%;
                font-size: $lg-font;
              }
        }
        &__sub{
            color:$main-yellow;
            font-size: $xlg-font;
            @media screen and (max-width: $break-small) {
                width:100%;
                font-size: $lg-font;
              }
        }&__p{
            color:$main-mutedYellow;
            width:540px;
            margin-top: 20px;
            @media screen and (max-width: $break-large) {
                width:400px
              }
              @media screen and (max-width: $break-small) {
                width:100%;
              }
        }

        &__button {
            margin-top: 60px;
        }
    }
    &__image {
        @media screen and (max-width: $break-small) {
            display:none;
          }
    }
    @media screen and (max-width: $break-small) {
        display:block;
        width:100%;
        text-align: center;
        margin-top: 30px;
        margin-bottom: 180px;
      }
}