.otherProjects {
    margin-bottom: 200px;
    @media screen and (max-width: $break-small) {
        margin-bottom: 100px;
    }
    &__header {
        text-align: center;
        margin-bottom: 50px;
        &>h3{
            color:$main-orange;
            font-size: $md-font;
            margin-bottom: 20px;
            &:hover {
                cursor:pointer;
                color:$main-yellow;
            }
        }
        &>p{
            color:$main-mutedYellow;
            font-size: $xsm-font;
        }
    }
    &__grid{
        display:grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 30px;
        margin-bottom: 100px;
        @media screen and (max-width: $break-large) {
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 15px;
        }
        @media screen and (max-width: $break-small) {
            display:block;
            margin-bottom: 30px;
        }
    }
    &__button{
        display:flex;
        align-items: center;
        justify-content: center;
    }
}