$main-dark:#020122;
$main-red: #F4442E;
$main-orange: #FC9E4F;
$main-mutedYellow: #EDD382;
$main-yellow: #F2F3AE;
$xsm-font: .8em;
$sm-font: 1.1em;
$md-font: 1.5em;
$lg-font: 3em;
$xlg-font: 5em;
$break-large:1100px;
$break-small: 600px;
$lato-font:'Lato', sans-serif;
$quicksand-font:'Quicksand', sans-serif;
$titillium-font:'Titillium Web', sans-serif;
$spaceGrotesk-font:'Space Grotesk', sans-serif;
$spaceMono-font:'Space Mono', monospace;