.navbar {
    display:flex;
    align-items: center;
    justify-content: space-between;
    position:sticky;
    background:$main-dark;
    z-index: 4;
    top:0;
    @media screen and (max-width: $break-small) {
        width:100%;
      }
    &__header {
        height:100px;
        display:flex;
        align-items: center;
        &:hover{
            cursor:pointer;
        }
        @media screen and (max-width: $break-small) {
            display:flex;
            align-items: center;
            justify-content:flex-start;
            height:50px;
          }

          &>img {
            @media screen and (max-width: $break-small) {
                height:80%;
              }
          }
    }
    &__links {
        display:flex;
        align-items: center;
        justify-content: center;

        &__item {
            color:$main-yellow;
            padding: 0 30px;
            &:hover {
                cursor:pointer;
                color:$main-mutedYellow;
            }
        }
        @media screen and (max-width: $break-small) {
            display:none;
          }
    }
    &__toggler {
        display:none;
        color:$main-orange;
        &:hover{
            cursor:pointer;
        }
        @media screen and (max-width: $break-small) {
            display:block;
        }
    }
   
}

.focus{
    color:$main-orange;
}


.responsive {
    @media screen and (max-width: $break-small) {
        position:absolute;
        display:block;
        font-size: $xsm-font;
        top:50px;
        right:0px;
        background:$main-dark;
        border: .5px solid  rgba(237, 211, 130, .5) ;
        height:216px;
    }
    &>li{
        @media screen and (max-width: $break-small) {
            padding: 10px 20px;
        }
    }
    &>li:last-child{
        @media screen and (max-width: $break-small) {
            padding: 20px 0px;
            text-align: center;
        }
    }
}