.navbar {
    display:flex;
    align-items: center;
    justify-content: space-between;
    position:sticky;
    background:$main-dark;
    z-index: 4;
    top:0;
    &__header {
        height:100px;
        display:flex;
        align-items: center;
        &:hover{
            cursor:pointer;
        }
        @media screen and (max-width: $break-small) {
            display:flex;
            align-items: center;
            justify-content:center;
            height:50px;
          }

          &>img {
            @media screen and (max-width: $break-small) {
                height:80%;
              }
          }
    }
    &__links {
        display:flex;
        align-items: center;
        justify-content: center;

        &__item {
            color:$main-yellow;
            padding: 0 30px;
            &:hover {
                cursor:pointer;
                color:$main-mutedYellow;
            }
        }
        @media screen and (max-width: $break-small) {
            display:none;
          }
    }
    @media screen and (max-width: $break-small) {
        display:block;
      }
}

.focus{
    color:$main-orange;
}