.projectCard {
    border: 1px solid $main-yellow;
    padding:20px;

    @media screen and (max-width: $break-small) {
        margin-bottom: 20px;
    }

    &__top{
        display:flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 50px;
        &>ul{
            display:flex;
            &>li{
                margin-left: 20px;
            }
        }
    }

    &__title{
        color:$main-orange;
        font-size: $md-font;
        margin-bottom: 20px;
    }

    &__text{
        color:$main-mutedYellow;
        font-size: $sm-font;
        margin-bottom: 50px;

        @media screen and (max-width: $break-large) {
            font-size: $xsm-font;
        }

        @media screen and (max-width: $break-small) {
            font-size: $xsm-font;
        }

    }

    &__tools{
        color:$main-orange;
        font-size: $xsm-font;
        display:flex;
        align-items: center;
        justify-content: flex-start;
        
        &>li{
            margin-right: 20px;
        }
    }
}