.layout {
    width:100%;
    &__content{
        max-width: 1400px;
        padding: 0 100px;
        margin:auto;
        background: $main-dark;
        @media screen and (max-width: $break-small) {
            padding:0 20px;
          }
    }
    @media screen and (max-width: $break-small) {
        width:100%;
      }

}